data/*
!data/.gitkeep
.vscode*
logs/*
!logs/.gitkeep

**/__pycache__/
*.pyc
.venv
wandb 
.vscode 
cache
outputs/*
!outputs/.gitkeep

models/*
!models/.gitkeep

!mu/algorithms/erase_diff/.gitignore

venv/
build
dist
*.egg-info